// Squarespace Template Styles
// Developed by Joshua Marino © 2025

// COLORS ///////////////////////////////////////////////////////

	$white: rgba(255,255,255,1);	     // #FFFFFF
	$black: rgba(0,0,0,1);	             // #000000

	$very-dark: rgba(33, 33, 33, 1);     // #212121
	$dark: rgba(65, 64, 66, 1);          // #414042
	$light: rgba(209, 202, 186, 1);      // #D1CABA
	$natural: rgba(197, 186, 167, 1);    // #C5BBA7
	$clay: rgba(99, 92, 80, 1);          // #635C50
	$gray: rgba(137, 146, 151, 1);       // #899297
	$rust: rgba(222, 117, 20, 1);		  // #DE7514
	$light-rust: rgba(255, 147, 47, 1);  // #FF922E

// TYPEFACES ///////////////////////////////////////////////////////

	$crimson: 'Crimson Text', Georgia, serif;
	$montserrat: 'Montserrat', Helvetica, Arial, sans-serif;

	@font-face {
		font-family: 'Crimson Text';
		src: url('../assets/fonts/CrimsonText-Regular.woff2') format('woff2'),
			 url('../assets/fonts/CrimsonText-Regular.woff') format('woff'),
			 url('../assets/fonts/CrimsonText-Regular.ttf') format('truetype');
		font-style: normal;
	}

	@font-face {
		font-family: 'Crimson Text';
		src: url('../assets/fonts/CrimsonText-Italic.woff2') format('woff2'),
			 url('../assets/fonts/CrimsonText-Italic.woff') format('woff'),
			 url('../assets/fonts/CrimsonText-Italic.ttf') format('truetype');
		font-style: italic;
	}

// ANIMATIONS ///////////////////////////////////////////////////

	// Show
	@-webkit-keyframes show {to {opacity: 1;}}
	@-moz-keyframes show {to {opacity: 1;}}
	@keyframes show {to {opacity: 1;}}

// MIXINS ///////////////////////////////////////////////////////

	// Animation
	@mixin animate ($duration: .3s, $delay: 0s, $easing: ease) {
		-webkit-transition: all $duration $delay $easing;
		-moz-transition: all $duration $delay $easing;
		-o-transition: all $duration $delay $easing;
		-ms-transition: all $duration $delay $easing;
		transition: all $duration $delay $easing !important;
		backface-visibility: hidden !important;
		perspective: 1000 !important;
	}

	// Pseudo Elements
	@mixin pseudo {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		@include animate;
	}

	// Fluid Type
	@mixin fontsize ($size: 1rem, $multiplier: 2) {
		font-size: $size;
		line-height: $size * $multiplier;
	}

	// Frame
	@mixin frame ($width: 100%, $maxwidth: 100%) {
		display: block;
		position: relative;
		margin: 0 auto;
		width: $width;
		max-width: $maxwidth;
	}

	// Hidden Elements
	@mixin hidden {
		display: none;
		visibility: hidden;
	}

	// Non Selectable Text
	@mixin no-select {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	// Clear Float
	@mixin clear {
		display: block;
		clear: both;
	}

	// Reveal
	@mixin show ($duration: .2s, $delay: .5s, $easing: ease, $repeat:1) {
		-webkit-animation: show $duration $delay $easing $repeat;
		-moz-animation: show $duration $delay $easing $repeat;
		animation: show $duration $delay $easing $repeat;

		-webkit-animation-fill-mode: both;
		-moz-animation-fill-mode: both;
		animation-fill-mode: both;
	}

	// Hide Cursor
	@mixin cursor-none {
		cursor: none !important;
	}




// STYLES //////////////////////////////////////////////////////

	// Global
	html {
		overflow: auto;
		font-family: $montserrat;
		font-size: 16px;
		font-size: clamp(1rem, 1vw + 0.4rem, 1.4rem);
		line-height: 1.6rem;
		word-spacing: 0rem;
		background-color: $very-dark;
	}

	body {
		display: block;
		position: relative;
		width: 100%;
		height: auto;
		margin: 0px;
		opacity: 1;
		text-align: center;
		overflow: hidden;
		background-color: $very-dark;
		font-family: $montserrat;
		font-weight: 400;


		* :not(.cursor) {
			@include animate(.3s);
		}

		h1, h2, h3, h4, h5, h6, p, blockquote, a, ol, ul, li, hr, button {
			margin: 0;
			padding: 0;
			border: none;
			list-style: none;
			color: $black;
			font-weight: normal;
			text-decoration: none;
		}

		h1, h2 {
			font-family: $crimson;
			font-style: italic;
			text-transform: uppercase;
			letter-spacing: .08rem;
			@include fontsize(1.4rem);
		}

		.frame {
			@include frame(100%, 1600px);
		}

		.cursor {
			display: block;
			position: fixed;
			height: 120px;
			width: 120px;
			transform: translate(-50%, -50%) scale(1);
			transform-origin: center;
			pointer-events: none;
			z-index: 9999;

			.cursor-icon {
				display: block;
				width: 36px;
				height: 36px;
				position: absolute;
				top: 38px;
				left: 42px;
				opacity: 0;
				z-index: 10;
				@include animate(0s);

				.icon {
					display: block;
					width: 36px;
					height: 36px;
					position: absolute;
					top: 0px;
					left: 0px;
					opacity: 0;
					@include animate(0s);
				}

				.icon-menu {
					width: 26px;
					height: 26px;
					top: 2px;
					left: 4px;
				}

				.icon-user, .icon-email {
					width: 30px;
					height: 30px;
					top: -2px;
					left: 3px;
				}

				.icon-magnify {
					width: 28px;
					height: 28px;
					top: 0px;
					left: 5px;
				}

				.icon-view {
					top: -2px;
				}

				.icon-close {
					top: -4px;
				}

			}

			.cursor-shadow {
				display: block;
				height: 120px;
				width: 120px;
				position: absolute;
				top: 0px;
				left: 0px;
				background: rgba(33, 33, 33, .6);
				box-shadow: 4px 12px 28px 0px rgba(33, 33, 33, .6);
				overflow: hidden;
				border-radius: 120px;
				transform: scale(0);
				z-index: -1;
				opacity: 0;
				@include animate(0s);
			}

			&:before {
				@include pseudo();
				border-radius: 120px;
				background: $rust;
				background: url('../assets/images/copper-texture.jpg'), linear-gradient(45deg, $rust 0%, $light-rust 120%);
				background-blend-mode: soft-light, normal;
				background-size: 100%;
				background-repeat: no-repeat;
				transform: scale(0);
				transform-origin: center;
				opacity: 0;
				@include animate(.1s);
			}

			&:after {
				@include pseudo();
				top: unset;
				bottom: 18px;
				content: 'view';
				color: $white;
				font-family: $crimson;
				font-style: italic;
				font-weight: 200;
				text-transform: lowercase;
				@include fontsize(1rem);
				letter-spacing: 0.01rem;
				z-index: 10;
				opacity: 0;
				@include animate(0s);

			}

			&.view {
				&:after { content: 'view'; }
				.cursor-icon .icon-view { opacity: 1; }
			}
			&.menu {
				&:after { content: 'menu'; }
				.cursor-icon .icon-menu { opacity: 1; }
			}
			&.shop {
				&:after { content: 'shop'; }
				.cursor-icon .icon-magnify { opacity: 1; }
			}
			&.register {
				&:after { content: 'register'; }
				.cursor-icon .icon-user { opacity: 1; }
			}
			&.contact {
				&:after { content: 'contact'; }
				.cursor-icon .icon-email { opacity: 1; }
			}

			&.active {

				.cursor-icon , .cursor-shadow {
					opacity: 1;
					@include animate(.2s, .1s);
				}

				.cursor-shadow {
					transform: scale(1);
				}

				&:before {
					background-size: 120%;
					transform: scale(1);
					opacity: 1;
					@include animate(.26s);
				}

				&:after {
					opacity: .88;
					@include animate(.2s, .1s);
				}
			}
		}

		.click {
		  transform: translate(-50%, -50%) scale(.9);
		}

		&.showMenu {
			.cursor {
				&.menu {
					&:after { content: 'close'; }
					.cursor-icon .icon-close { opacity: 1; }
					.cursor-icon .icon-menu { opacity: 0; }
				}
			}
		}
	}

	// Header
	#header {
		display: block;
		width: 100%;
		position: fixed;
		z-index: 999;

		transform: translateX(0px);
		@include animate(.3s);

		&.showMenu {
			transform: translateX(-360px);

			.menu-icon {
				.icon-menu {
					opacity: 0;
				}

				.icon-close {
					opacity: 1;
				}
			}
		}

		.logo {
			display: block;
			margin: 0;
			padding: 0;
			position: absolute;
			text-indent: -9999px;
			top: 40px;
			left: 60px;
			width: auto;
			height: auto;
			z-index: 999;

			a {
				display: block;
				margin: 0px;
				padding: 0px;
				position: absolute;
				top: 0px;
				left: 0px;
				width: 200px;
				height: 33px;
				background: url('../assets/svgs/ironware-logo.svg') no-repeat;
				background-position: center center;
				background-size: 100%;
				transform: scale(1);
				@include no-select;

				&:hover {
					transform: scale(1.04);
				}
			}
		}

		.menu-icon {
			display: block;
			width: 80px;
			height: 80px;
			position: absolute;
			top: 17px;
			right: 48px;

			@include cursor-none();

			.icon-menu {
				display: block;
				width: 26px;
				height: 18px;
				position: absolute;
				top: 32px;
				left: 28px;
				opacity: 1;
			}

			.icon-close {
				display: block;
				width: 36px;
				height: 36px;
				position: absolute;
				top: 23px;
				left: 23px;
				opacity: 0;
			}

			&:hover {
				cursor: pointer;
			}

		}


	}

	.nav-header {
		position: fixed;
		top: 0px;
		right: 0px;
		width: 100vw;
		height: 100vh;
		background: linear-gradient(88deg, $very-dark unquote('~"calc(88vw - 280px)"'), $dark unquote('~"calc(100vw - 160px)"'));
		z-index: 0;
		opacity: 0;

		@include show(.3s, .3s);

		.nav-frame {
			width: 280px;
			padding: 20px 40px 20px unquote('~"calc(100vw - 320px)"');
			text-align: right;

			li {
				display: block;
				line-height: 0rem;

				a {
					display: inline-block;
					color: $white;
					font-family: $crimson;
					font-style: italic;
					font-weight: 200;
					text-transform: uppercase;
					letter-spacing: .08rem;
					@include fontsize(1.2rem);
					line-height: 2.2rem;

					&:hover {
						color: $rust;
					}
				}

				&.folder {
					position: relative;
					margin: 60px 0 0 0;

					&:first-child {
						margin: 40px 0 0 0;
					}

					&:last-child {
						ul {
							li {
								display: none;
							}
						}
					}

					li {
						a {
							font-family: $montserrat;
							font-style: normal;
							@include fontsize(.6rem);
							line-height: 1.5rem;
							text-transform: uppercase;
							letter-spacing: .08rem;
							word-spacing: .1rem;
						}
					}

					&:before {
						@include pseudo;
						background: linear-gradient(90deg, $light 0%, $white 60%);
						width: 100%;
						height: 1px;
						top: -12px;
						opacity: .2;
						border: none;
						border-radius: 20px;
						overflow: hidden;

					}
				}
			}
		}

	}

	// Footer
	#footer {
		position: relative;
		padding: 8vh 5vw 12vh;
		background-color: $very-dark;

		overflow: hidden;
		border-radius: 0 0 0 0;
		transform: translateX(0px);
		@include animate(.3s);

		&.showMenu {
			border-radius: 0 0 40px 0;
			transform: translateX(-360px);
		}

		h1, h2, h3, p, ul, ol, a {
			color: $white;
		}

		hr {
			display: block;
			position: relative;
			margin: 0;
			padding: 0;
			background-color: $natural;
			width: 100%;
			height: 2px;
			opacity: .25;
			border: none;
			border-radius: 20px;
			overflow: hidden;
		}

		p {
			@include fontsize(.6rem);
			text-transform: uppercase;
			letter-spacing: .06rem;

			&.small-print {
				margin: 6px 0 0 0;
				text-transform: unset;
				font-weight: 300;
				font-style: italic;
				letter-spacing: .01rem;
				opacity: .4;
			}
		}

		.ctas {


			h2 {
				padding: 0 0 .4rem 0;
			}

			div {
				display: block;
				position: relative;
				width: 33.3%;
				float: left;

				a {
					display: inline-block;
					position: relative;
					width: unquote('~"calc(100% - 8vw)"');;
					padding: 80px 4vw 70px;
					@include animate(.2s);
					@include cursor-none();

					h2, p {
						display: inline-block;
						position: relative;
					}

					p {
						display: block;
						max-height: 6vw;
						overflow: visible;
						opacity: .7;
					}

					&:hover {

						.icon {
							fill: $rust;
						}
					}
				}

				&:after {
					@include pseudo();
					background-color: $natural;
					width: 2px;
					height: 16vw;
					max-height: 280px;
					top: unset;
					bottom: 0px;
					left: unset;
					right: -2px;
					opacity: .25;
					border: none;
					border-radius: 20px;
					overflow: hidden;
				}
			}

			.shop {
				.icon-magnify {
					display: block;
					width: 40px;
					height: 40px;
					position: absolute;
					top: 28px;
					left: unquote('~"calc(50% - 20px)"');
					fill: $natural;
				}
			}

			.register {
				.icon-user {
					display: block;
					width: 42px;
					height: 42px;
					position: absolute;
					top: 27px;
					left: unquote('~"calc(50% - 21px)"');
					fill: $natural;
				}
			}

			.contact {
				.icon-email {
					display: block;
					width: 42px;
					height: 42px;
					position: absolute;
					top: 27px;
					left: unquote('~"calc(50% - 21px)"');
					fill: $natural;
				}

				&:after {
					display: none;
				}
			}
		}

		.newsletter-signup {
			padding: 5vh 0;

			h2, p {
				margin: 0 auto 12px;
				max-width: 400px;
			}

			p {
				opacity: .7;
			}

			.newsletter-block {

				.newsletter-form-header {
					display: none;
				}

				.newsletter-form-wrapper {
					background: none;
					padding: 12px 0 0 !important;

					.newsletter-form-field-wrapper {
						width: 350px;
						padding: 0px;

					}

					.newsletter-form-field-element {
						padding: 12px 16px 12px 18px;
						border-radius: 4px;
						overflow: hidden;

						font-family: $montserrat;
						@include fontsize(.6rem);
						line-height: 18px !important;
						text-transform: uppercase;
						letter-spacing: .03rem;
					}

					::-webkit-input-placeholder, ::placeholder {
						color: $dark;
						opacity: 1;
					}

					.newsletter-form-button-wrapper {
						padding: 0;

						.newsletter-form-button {
							opacity: 1 !important;
							padding: 1px 64px 5px 24px;
							background-color: $rust;
							border-radius: 4px;
							overflow: hidden;

							&:after {
								@include pseudo();
								width: 34px;
								height: 13px;
								top: unquote('~"calc(50% - 6.5px)"');
								bottom: unset;
								left: unset;
								right: 22px;
								background: url('../assets/svgs/button-arrow.svg') no-repeat;
								background-position: center;
								background-size: 100%;
							}

							&:hover {
								background-color: $light-rust;

								&:after {
									right: 18px;
								}
							}

							.newsletter-form-button-label {
								font-family: $crimson;
								@include fontsize(1.1rem);
								line-height: 38px !important;
								text-transform: lowercase;
								font-style: italic;
							}


						}
					}
				}

			}

		}

		.etc {
			position: relative;
			text-align: center;

			div, nav {
				display: block;
				position: relative;
				width: 33.3%;
				padding: 20px 0;
				float: left;
			}

			.copyright {
				width: 38%;
				text-align: left;
				@include fontsize(.8rem);
			}

			.socials {
				width: 24%;

				ul {
					display: inline-block;
					margin: 0 auto;

					li {
						margin: 0 16px 0 0;
						float: left;

						&:last-child {
							margin: 0 0 0 0;
						}
					}

					a {
						color: $rust;

						&:hover {
							color: $light-rust;
						}
					}
				}
			}

			.nav-footer {
				width: 38%;
				position: relative;
				float: right;
				text-align: right;
				@include fontsize(.6rem);
				text-transform: uppercase;
				letter-spacing: .06rem;
				z-index: 1;

				ul {
					display: inline-block;
				}

				li {
					display: inline-block;
					position: relative;
					margin: 0 28px 0 0;
					float: left;

					&:after {
						@include pseudo();
						content: '/';
						width: auto;
						text-indent: 0px;
						color: $white;
						opacity: .7;
						left: unset;
						right: -16px;
					}

					&:last-child {
						margin: 0 0 0 0;

						&:after {
							display: none;
						}
					}

					a {
						display: inline-block;
						color: $white;

						&:hover {
							color: $rust;
						}
					}
				}
			}
		}

	}

	// Home
	.home {
		.page-content {
			position: relative;
			min-height: 400px;
			background-color: $white;
			border-radius: 0 0 0 0;

			overflow: hidden;
			transform: translateX(0px);
			@include animate(.3s);

			&.showMenu {
				border-radius: 0 40px 0 0;
				transform: translateX(-360px);
			}

			.section-title {
				display: block;
				width: 100%;
				padding: 16px 0;
				background-color: $clay;
				font-family: $montserrat;
				@include fontsize(.6rem);
				text-transform: uppercase;
				letter-spacing: .04rem;
				word-spacing: .1rem;
				color: $white;
			}

			.banner {
				.sqs-gallery-container {
					width: 100%;
					height: 60vw;
					position: relative;
					overflow: hidden;

					.sqs-gallery {
						position: absolute;
						width: 100%;
						top: -46vw;
						left: 0px;
						background-color: $very-dark;

						.slide {
							@include animate(.5s);

							&:after {
								@include pseudo();
								background: linear-gradient(180deg, rgba(0,0,0,.5) 30%, rgba(0,0,0,.1) 70%);
								opacity: .8;
							}

							.meta {
								max-width: 60vw !important;
								margin-left: -30vw !important;
								background: none;
								z-index: 10;

								.meta-title {
									font-family: $crimson;
									font-style: italic;
									text-transform: uppercase;
									letter-spacing: .08rem;
									@include fontsize(1.3rem, 1.8);


								}
							}
						}
					}
				}
			}

			.collections {

				background-color: $clay;

				h3.section-title {
					background-color: $clay;
				}

				.gallery-block {
					padding-bottom: 0px;
					position: relative;

					.slide {
						position: relative;

						.margin-wrapper {
							position: relative;
							background-color: rgba(65, 64, 66, .35);

							a {
								display: block;
								position: relative;
								opacity: 0;
								@include show(.5s, 1s);

								&:before {
									@include pseudo();
									background: linear-gradient(180deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,.3) 100%);
									opacity: .7;
								}

								img {
									display: block;
									-webkit-filter: sepia(.8) grayscale(.7);
									filter: sepia(.8) grayscale(.7);
									opacity: .9 !important;
									transform: scale(1);
									@include animate(.7s);
								}

								&:hover {
									@include cursor-none();

									&:before {
										opacity: .9;
									}

									img {
										-webkit-filter: sepia(0) grayscale(0);
										filter: sepia(0) grayscale(0);
										transform: scale(1.2);
										opacity: 1 !important;
									}
								}
							}

							.image-slide-title {
								position: absolute;
								top: 50%;
								transform: translateY(-2.2rem);
								z-index: 10;
								pointer-events: none;
								opacity: 0;
								@include show(.5s, 1s);

								color: $white;
								font-family: $crimson;
								font-style: italic;
								text-transform: uppercase;
								letter-spacing: .08rem;
								@include fontsize(1.3rem);
								line-height: 2.2rem;
							}
						}
					}

				}

				.image-block {
					padding: 0 !important;

					.sqs-block-image-figure {
						position: relative;
						height: 50vw;
						overflow: hidden;

						a {
							display: block;
							position: relative;
							transform: translateY(-4vw);
							background-color: $light;
							@include cursor-none();

							&:before {
								@include pseudo();
								background: linear-gradient(180deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,.3) 100%);
								opacity: .7;
							}

							img {
								display: block;
								-webkit-filter: sepia(.8) grayscale(.7);
								filter: sepia(.8) grayscale(.7);
								opacity: .9 !important;
								transform: scale(1);
								@include animate(.7s);
							}

							&:hover {
								cursor: pointer;

								&:before {
									opacity: .9;
								}

								img {
									-webkit-filter: sepia(0) grayscale(0);
									filter: sepia(0) grayscale(0);
									transform: scale(1.1);
									opacity: 1 !important;
								}
							}
						}
					}

					.image-caption-wrapper {
						display: block;
						width: 100%;
						height: 50vw;
						padding: 0 !important;
						position: absolute;
						top: 0px;
						bottom: 0px;
						pointer-events: none;

						.image-caption {
							display: block;
							width: 100%;
							position: absolute;
							top: unquote('~"calc(50% - 1rem)"');
							left: 0px;

							 p {
								 display: inline-block;
								 padding: 16px 20px;
								 background: $very-dark;
								 border-radius: 4px;
								 overflow: hidden;

								 font-family: $montserrat;
								 @include fontsize(.7rem);
								 text-transform: uppercase;
								 letter-spacing: .08rem;
								 word-spacing: .1rem;
								 color: $white;
							 }
						}

					}

					&:hover {
						.image-caption-wrapper {
							.image-caption {
								p {
									color: $white;
								}
							}
						}
					}
				}
			}

			.featured {
				margin-bottom: 60px;

				h3.section-title {
					margin-bottom: 40px;
					background-color: $gray;
				}

				.gallery-block {
					display: block;
					margin: 0 auto 40px;
					width: 80%;


					.sqs-gallery-container {
						border-radius: 4px 4px 0 0;
						overflow: hidden;
					}

					.sqs-gallery-thumbnails {
						border-radius: 0 0 4px 4px;
						overflow: hidden;
					}
				}

				h1 {
					margin: 0 auto;
					max-width: 40vw;
					@include fontsize(1.2rem, 1.4);
					letter-spacing: .06rem;
					word-spacing: .06rem;
				}
			}

			.posts {
				overflow: hidden;

				header {
					display: none;
				}

				.summary-block-wrapper {
					background: $very-dark;


					.summary-item {
						position: relative;

						.summary-thumbnail-container {
							margin: 0 !important;
							opacity: 0;
							@include show(.2s, .5s);

							&:before {
								@include pseudo();
								background: linear-gradient(90deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 80%);
								opacity: .7;
							}

							.summary-thumbnail {

								img {
									top: -4vw !important;
								}
							}
						}

						.summary-content {
							display: block;
							width: 38vw;
							position: absolute;
							top:  10vw;
							left: 10vw;
							z-index: 10;

							.summary-title {
								margin-bottom: .8rem;

								a {
									font-family: $crimson;
									font-style: italic;
									text-transform: uppercase;
									letter-spacing: .08rem;
									@include fontsize(1.4rem);
									color: $white;
								}
							}

							.summary-excerpt {
								p {
									margin-bottom: 1.6rem;
									font-family: $montserrat;
									@include fontsize(.8rem, 1.8);
									font-weight: 300;
									letter-spacing: .01rem;
									color: $light;

									a {
										display: inline-block;
										position: relative;
										font-family: $crimson;
										@include fontsize(1.4rem);
										line-height: 38px !important;
										text-transform: lowercase;
										font-style: italic;
										color: $rust;
										text-indent: 2px;

										&:before, &:after {
											@include pseudo();
											width: 34px;
											height: 13px;
											top: unquote('~"calc(50% - 5px)"');
											bottom: unset;
											left: unset;
											right: -40px;
											background-image: url('../assets/svgs/button-arrow-rust.svg');
											background-repeat: no-repeat;
											background-position: center;
											background-size: 100%;
										}

										&:after {
											background-image: url('../assets/svgs/button-arrow-light-rust.svg');
											opacity: 0;
										}

										&:hover {
											color: $light-rust;

											&:before, &:after {
												right: -46px;
											}

											&:after {
												opacity: 1;
											}

										}
									}
								}

							}
						}


					}
				}


			}

		}
	}

	// Default
	.default {
		.page-content {
			min-height: 400px;

		}
	}

	// Shop
	.shop {

		.content-header {
			position: relative;
			height: 340px;
			padding: 0 0 60px 0;
			background-color: $clay;
			background-repeat: none;
			background-position: center;
			background-size: 110%;
			opacity: 0;

			overflow: hidden;
			transform: translateX(0px);
			@include animate(.3s);
			@include show(.3s, .3s);

			&.showMenu {
				border-radius: 0 40px 0 0;
				transform: translateX(-360px);
			}

			&:after {
				@include pseudo();
				background: linear-gradient(180deg, rgba(0,0,0,.5) 30%, rgba(0,0,0,.1) 70%);
				opacity: .8;
			}

			.page-title {
				display: block;
				color: $white;
				width: 100%;
				position: absolute;
				top: unset;
				bottom: 80px;
			}

			.nav-shop {
				display: block;
				width: 100%;
				padding: 16px 60px;
				position: absolute;
				bottom: 0px;
				background-color: $clay;
				font-family: $montserrat;
				@include fontsize(.6rem);
				text-transform: uppercase;
				letter-spacing: .04rem;
				word-spacing: .1rem;
				color: $white;
				z-index: 10;

				.breadcrumbs {
					li {
						display: inline-block;
						position: relative;
						padding-right: 36px;
						float: left;
						color: $white;

						&:after {
							@include pseudo;
							content: "/";
							width: 12px;
							left: unset;
							right: 12px;
							opacity: .4;
						}

						&:last-child {
							&:after {
								display: none;
							}
						}

						a {
							display: inline-block;
							color: $white;
						}

						&:hover {
							a {
								color: $light-rust;
							}
						}
					}
				}

				#shop-search {
					position: absolute;
					top: 4px;
					right: 60px;

					@include hidden();
				}
			}


		}

		.page-content {
			position: relative;
			background: $white;

			overflow: hidden;
			transform: translateX(0px);
			@include animate(.3s);

			&.showMenu {
				transform: translateX(-360px);
			}

			#productNav, .product-quantity-input {
				display: none !important;
			}

			#productGallery {

				.slide {
					position: relative;

					img {
						position: absolute;
						left: 0px !important;
					}
				}

			}

			#productDetails {
				width: unquote('~"calc(48.5% - 120px)"');
				padding: 60px 60px 0 60px;
				text-align: left;

				.product-title {
					text-indent: -2px;
				}

				.product-price {
					margin: 0 0 1rem;
					font-family: $crimson;
					font-style: italic;
					text-transform: uppercase;
					letter-spacing: .08rem;
					@include fontsize(1.2rem);
				}

				p {
					margin-bottom: 1.6rem;
					font-family: $montserrat;
					@include fontsize(.8rem, 1.8);
					font-weight: 300;
					letter-spacing: .01rem;
				}

				.sqs-add-to-cart-button-wrapper {
					background: none;
					margin: 0;
					padding: 20px 0 0;

					.sqs-add-to-cart-button {
						position: relative;
						opacity: 1 !important;
						padding: 4px 64px 5px 24px !important;
						background-color: $rust;
						border-radius: 4px;
						overflow: hidden;

						&:after {
							@include pseudo();
							width: 34px;
							height: 13px;
							top: unquote('~"calc(50% - 6.5px)"');
							bottom: unset;
							left: unset;
							right: 22px;
							background: url('../assets/svgs/button-arrow.svg') no-repeat;
							background-position: center;
							background-size: 100%;
						}

						&:hover {
							background-color: $light-rust;

							&:after {
								right: 18px;
							}
						}

						.sqs-add-to-cart-button-inner {
							font-family: $crimson;
							@include fontsize(1.1rem);
							font-weight: 400;
							letter-spacing: 0;
							line-height: 38px !important;
							text-transform: lowercase;
							font-style: italic;
						}

					}
				}

			}

			.product-description {
				float: right;
				margin: 0;
				padding: 0 60px;
				width: unquote('~"calc(48.5% - 120px)"');
				text-align: left;

				h3 {
					margin: 0 0 40px;
					color: $rust;
					text-indent: 4px;
					font-family: $crimson;
					@include fontsize(1rem);
					font-weight: 400;
					letter-spacing: 0;
				}
			}

			#product-content {
				padding: 80px 0;
				text-align: left;

				.gallery-block {
					display: block;
					margin: 0 auto 20px;
					width: 85%;


					.sqs-gallery-container {
						border-radius: 4px 4px 0 0;
						overflow: hidden;
					}

					.sqs-gallery-thumbnails {
						border-radius: 0 0 4px 4px;
						overflow: hidden;
					}
				}

				.html-block {
					display: block;
					margin: 0 auto 40px;
					width: 80%;
					max-width: 760px;
				}

				h1 {
					margin: 1em 0 .5em;
					@include fontsize(1.1em);
					font-weight: 200;
					letter-spacing: .05rem;
				}

				p {
					display: inline-block;
					margin: 0 0 1em 0;
					font-family: $montserrat;
					@include fontsize(.8rem, 2);
					font-weight: 300;
					letter-spacing: .01rem;
				}
			}

			.section-title {
				display: block;
				width: 100%;
				padding: 16px 0;
				background-color: $clay;
				font-family: $montserrat;
				@include fontsize(.6rem);
				text-transform: uppercase;
				letter-spacing: .04rem;
				word-spacing: .1rem;
				color: $white;

				&.collection {
					background-color: rgba(137, 146, 151, .4);
					color: $dark;
					opacity: .7;
				}
			}
		}
	}



// SQUARESPACE //////////////////////////////////////////////////
.grecaptcha-badge {
	display: none !important;
}

// RESPONSIVE ///////////////////////////////////////////////////

	// Laptop
	@media screen and (max-width: 1200px) {



	}

	// Tablet
	@media screen and (max-width: 900px) {

		.sqs-col-1, .sqs-col-2, .sqs-col-3, .sqs-col-4, .sqs-col-5, .sqs-col-6, .sqs-col-7, .sqs-col-8, .sqs-col-9, .sqs-col-10, .sqs-col-11, .sqs-col-12 {
			width: 100% !important;
		}

	}

	// Phone
	@media screen and (max-width: 600px) {



	}
































