@font-face {
  font-family: "Crimson Text";
  src: url("../assets/fonts/CrimsonText-Regular.woff2") format("woff2"), url("../assets/fonts/CrimsonText-Regular.woff") format("woff"), url("../assets/fonts/CrimsonText-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("../assets/fonts/CrimsonText-Italic.woff2") format("woff2"), url("../assets/fonts/CrimsonText-Italic.woff") format("woff"), url("../assets/fonts/CrimsonText-Italic.ttf") format("truetype");
  font-style: italic;
}
@-webkit-keyframes show {
  to {
    opacity: 1;
  }
}
@-moz-keyframes show {
  to {
    opacity: 1;
  }
}
@keyframes show {
  to {
    opacity: 1;
  }
}
html {
  overflow: auto;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: clamp(1rem, 1vw + 0.4rem, 1.4rem);
  line-height: 1.6rem;
  word-spacing: 0rem;
  background-color: rgb(33, 33, 33);
}

body {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0px;
  opacity: 1;
  text-align: center;
  overflow: hidden;
  background-color: rgb(33, 33, 33);
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
body * :not(.cursor) {
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p, body blockquote, body a, body ol, body ul, body li, body hr, body button {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  color: rgb(0, 0, 0);
  font-weight: normal;
  text-decoration: none;
}
body h1, body h2 {
  font-family: "Crimson Text", Georgia, serif;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-size: 1.4rem;
  line-height: 2.8rem;
}
body .frame {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}
body .cursor {
  display: block;
  position: fixed;
  height: 120px;
  width: 120px;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: center;
  pointer-events: none;
  z-index: 9999;
}
body .cursor .cursor-icon {
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 38px;
  left: 42px;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0s 0s ease;
  -moz-transition: all 0s 0s ease;
  -o-transition: all 0s 0s ease;
  -ms-transition: all 0s 0s ease;
  transition: all 0s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
}
body .cursor .cursor-icon .icon {
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  -webkit-transition: all 0s 0s ease;
  -moz-transition: all 0s 0s ease;
  -o-transition: all 0s 0s ease;
  -ms-transition: all 0s 0s ease;
  transition: all 0s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
}
body .cursor .cursor-icon .icon-menu {
  width: 26px;
  height: 26px;
  top: 2px;
  left: 4px;
}
body .cursor .cursor-icon .icon-user, body .cursor .cursor-icon .icon-email {
  width: 30px;
  height: 30px;
  top: -2px;
  left: 3px;
}
body .cursor .cursor-icon .icon-magnify {
  width: 28px;
  height: 28px;
  top: 0px;
  left: 5px;
}
body .cursor .cursor-icon .icon-view {
  top: -2px;
}
body .cursor .cursor-icon .icon-close {
  top: -4px;
}
body .cursor .cursor-shadow {
  display: block;
  height: 120px;
  width: 120px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(33, 33, 33, 0.6);
  box-shadow: 4px 12px 28px 0px rgba(33, 33, 33, 0.6);
  overflow: hidden;
  border-radius: 120px;
  transform: scale(0);
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0s 0s ease;
  -moz-transition: all 0s 0s ease;
  -o-transition: all 0s 0s ease;
  -ms-transition: all 0s 0s ease;
  transition: all 0s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
}
body .cursor:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
  border-radius: 120px;
  background: rgb(222, 117, 20);
  background: url("../assets/images/copper-texture.jpg"), linear-gradient(45deg, rgb(222, 117, 20) 0%, rgb(255, 147, 47) 120%);
  background-blend-mode: soft-light, normal;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: scale(0);
  transform-origin: center;
  opacity: 0;
  -webkit-transition: all 0.1s 0s ease;
  -moz-transition: all 0.1s 0s ease;
  -o-transition: all 0.1s 0s ease;
  -ms-transition: all 0.1s 0s ease;
  transition: all 0.1s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
}
body .cursor:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
  top: unset;
  bottom: 18px;
  content: "view";
  color: rgb(255, 255, 255);
  font-family: "Crimson Text", Georgia, serif;
  font-style: italic;
  font-weight: 200;
  text-transform: lowercase;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0s 0s ease;
  -moz-transition: all 0s 0s ease;
  -o-transition: all 0s 0s ease;
  -ms-transition: all 0s 0s ease;
  transition: all 0s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
}
body .cursor.view:after {
  content: "view";
}
body .cursor.view .cursor-icon .icon-view {
  opacity: 1;
}
body .cursor.menu:after {
  content: "menu";
}
body .cursor.menu .cursor-icon .icon-menu {
  opacity: 1;
}
body .cursor.shop:after {
  content: "shop";
}
body .cursor.shop .cursor-icon .icon-magnify {
  opacity: 1;
}
body .cursor.register:after {
  content: "register";
}
body .cursor.register .cursor-icon .icon-user {
  opacity: 1;
}
body .cursor.contact:after {
  content: "contact";
}
body .cursor.contact .cursor-icon .icon-email {
  opacity: 1;
}
body .cursor.active .cursor-icon, body .cursor.active .cursor-shadow {
  opacity: 1;
  -webkit-transition: all 0.2s 0.1s ease;
  -moz-transition: all 0.2s 0.1s ease;
  -o-transition: all 0.2s 0.1s ease;
  -ms-transition: all 0.2s 0.1s ease;
  transition: all 0.2s 0.1s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
}
body .cursor.active .cursor-shadow {
  transform: scale(1);
}
body .cursor.active:before {
  background-size: 120%;
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.26s 0s ease;
  -moz-transition: all 0.26s 0s ease;
  -o-transition: all 0.26s 0s ease;
  -ms-transition: all 0.26s 0s ease;
  transition: all 0.26s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
}
body .cursor.active:after {
  opacity: 0.88;
  -webkit-transition: all 0.2s 0.1s ease;
  -moz-transition: all 0.2s 0.1s ease;
  -o-transition: all 0.2s 0.1s ease;
  -ms-transition: all 0.2s 0.1s ease;
  transition: all 0.2s 0.1s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
}
body .click {
  transform: translate(-50%, -50%) scale(0.9);
}
body.showMenu .cursor.menu:after {
  content: "close";
}
body.showMenu .cursor.menu .cursor-icon .icon-close {
  opacity: 1;
}
body.showMenu .cursor.menu .cursor-icon .icon-menu {
  opacity: 0;
}

#header {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 999;
  transform: translateX(0px);
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
}
#header.showMenu {
  transform: translateX(-360px);
}
#header.showMenu .menu-icon .icon-menu {
  opacity: 0;
}
#header.showMenu .menu-icon .icon-close {
  opacity: 1;
}
#header .logo {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  text-indent: -9999px;
  top: 40px;
  left: 60px;
  width: auto;
  height: auto;
  z-index: 999;
}
#header .logo a {
  display: block;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 33px;
  background: url("../assets/svgs/ironware-logo.svg") no-repeat;
  background-position: center center;
  background-size: 100%;
  transform: scale(1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#header .logo a:hover {
  transform: scale(1.04);
}
#header .menu-icon {
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 17px;
  right: 48px;
  cursor: none !important;
}
#header .menu-icon .icon-menu {
  display: block;
  width: 26px;
  height: 18px;
  position: absolute;
  top: 32px;
  left: 28px;
  opacity: 1;
}
#header .menu-icon .icon-close {
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 23px;
  left: 23px;
  opacity: 0;
}
#header .menu-icon:hover {
  cursor: pointer;
}

.nav-header {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(88deg, rgb(33, 33, 33) ~"calc(88vw - 280px)", rgb(65, 64, 66) ~"calc(100vw - 160px)");
  z-index: 0;
  opacity: 0;
  -webkit-animation: show 0.3s 0.3s ease 1;
  -moz-animation: show 0.3s 0.3s ease 1;
  animation: show 0.3s 0.3s ease 1;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.nav-header .nav-frame {
  width: 280px;
  padding: 20px 40px 20px ~"calc(100vw - 320px)";
  text-align: right;
}
.nav-header .nav-frame li {
  display: block;
  line-height: 0rem;
}
.nav-header .nav-frame li a {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-family: "Crimson Text", Georgia, serif;
  font-style: italic;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-size: 1.2rem;
  line-height: 2.4rem;
  line-height: 2.2rem;
}
.nav-header .nav-frame li a:hover {
  color: rgb(222, 117, 20);
}
.nav-header .nav-frame li.folder {
  position: relative;
  margin: 60px 0 0 0;
}
.nav-header .nav-frame li.folder:first-child {
  margin: 40px 0 0 0;
}
.nav-header .nav-frame li.folder:last-child ul li {
  display: none;
}
.nav-header .nav-frame li.folder li a {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 0.6rem;
  line-height: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  word-spacing: 0.1rem;
}
.nav-header .nav-frame li.folder:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
  background: linear-gradient(90deg, rgb(209, 202, 186) 0%, rgb(255, 255, 255) 60%);
  width: 100%;
  height: 1px;
  top: -12px;
  opacity: 0.2;
  border: none;
  border-radius: 20px;
  overflow: hidden;
}

#footer {
  position: relative;
  padding: 8vh 5vw 12vh;
  background-color: rgb(33, 33, 33);
  overflow: hidden;
  border-radius: 0 0 0 0;
  transform: translateX(0px);
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
}
#footer.showMenu {
  border-radius: 0 0 40px 0;
  transform: translateX(-360px);
}
#footer h1, #footer h2, #footer h3, #footer p, #footer ul, #footer ol, #footer a {
  color: rgb(255, 255, 255);
}
#footer hr {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgb(197, 186, 167);
  width: 100%;
  height: 2px;
  opacity: 0.25;
  border: none;
  border-radius: 20px;
  overflow: hidden;
}
#footer p {
  font-size: 0.6rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
}
#footer p.small-print {
  margin: 6px 0 0 0;
  text-transform: unset;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.01rem;
  opacity: 0.4;
}
#footer .ctas h2 {
  padding: 0 0 0.4rem 0;
}
#footer .ctas div {
  display: block;
  position: relative;
  width: 33.3%;
  float: left;
}
#footer .ctas div a {
  display: inline-block;
  position: relative;
  width: ~"calc(100% - 8vw)";
  padding: 80px 4vw 70px;
  -webkit-transition: all 0.2s 0s ease;
  -moz-transition: all 0.2s 0s ease;
  -o-transition: all 0.2s 0s ease;
  -ms-transition: all 0.2s 0s ease;
  transition: all 0.2s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
  cursor: none !important;
}
#footer .ctas div a h2, #footer .ctas div a p {
  display: inline-block;
  position: relative;
}
#footer .ctas div a p {
  display: block;
  max-height: 6vw;
  overflow: visible;
  opacity: 0.7;
}
#footer .ctas div a:hover .icon {
  fill: rgb(222, 117, 20);
}
#footer .ctas div:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
  background-color: rgb(197, 186, 167);
  width: 2px;
  height: 16vw;
  max-height: 280px;
  top: unset;
  bottom: 0px;
  left: unset;
  right: -2px;
  opacity: 0.25;
  border: none;
  border-radius: 20px;
  overflow: hidden;
}
#footer .ctas .shop .icon-magnify {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 28px;
  left: ~"calc(50% - 20px)";
  fill: rgb(197, 186, 167);
}
#footer .ctas .register .icon-user {
  display: block;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 27px;
  left: ~"calc(50% - 21px)";
  fill: rgb(197, 186, 167);
}
#footer .ctas .contact .icon-email {
  display: block;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 27px;
  left: ~"calc(50% - 21px)";
  fill: rgb(197, 186, 167);
}
#footer .ctas .contact:after {
  display: none;
}
#footer .newsletter-signup {
  padding: 5vh 0;
}
#footer .newsletter-signup h2, #footer .newsletter-signup p {
  margin: 0 auto 12px;
  max-width: 400px;
}
#footer .newsletter-signup p {
  opacity: 0.7;
}
#footer .newsletter-signup .newsletter-block .newsletter-form-header {
  display: none;
}
#footer .newsletter-signup .newsletter-block .newsletter-form-wrapper {
  background: none;
  padding: 12px 0 0 !important;
}
#footer .newsletter-signup .newsletter-block .newsletter-form-wrapper .newsletter-form-field-wrapper {
  width: 350px;
  padding: 0px;
}
#footer .newsletter-signup .newsletter-block .newsletter-form-wrapper .newsletter-form-field-element {
  padding: 12px 16px 12px 18px;
  border-radius: 4px;
  overflow: hidden;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 0.6rem;
  line-height: 1.2rem;
  line-height: 18px !important;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
}
#footer .newsletter-signup .newsletter-block .newsletter-form-wrapper ::-webkit-input-placeholder, #footer .newsletter-signup .newsletter-block .newsletter-form-wrapper ::placeholder {
  color: rgb(65, 64, 66);
  opacity: 1;
}
#footer .newsletter-signup .newsletter-block .newsletter-form-wrapper .newsletter-form-button-wrapper {
  padding: 0;
}
#footer .newsletter-signup .newsletter-block .newsletter-form-wrapper .newsletter-form-button-wrapper .newsletter-form-button {
  opacity: 1 !important;
  padding: 1px 64px 5px 24px;
  background-color: rgb(222, 117, 20);
  border-radius: 4px;
  overflow: hidden;
}
#footer .newsletter-signup .newsletter-block .newsletter-form-wrapper .newsletter-form-button-wrapper .newsletter-form-button:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
  width: 34px;
  height: 13px;
  top: ~"calc(50% - 6.5px)";
  bottom: unset;
  left: unset;
  right: 22px;
  background: url("../assets/svgs/button-arrow.svg") no-repeat;
  background-position: center;
  background-size: 100%;
}
#footer .newsletter-signup .newsletter-block .newsletter-form-wrapper .newsletter-form-button-wrapper .newsletter-form-button:hover {
  background-color: rgb(255, 147, 47);
}
#footer .newsletter-signup .newsletter-block .newsletter-form-wrapper .newsletter-form-button-wrapper .newsletter-form-button:hover:after {
  right: 18px;
}
#footer .newsletter-signup .newsletter-block .newsletter-form-wrapper .newsletter-form-button-wrapper .newsletter-form-button .newsletter-form-button-label {
  font-family: "Crimson Text", Georgia, serif;
  font-size: 1.1rem;
  line-height: 2.2rem;
  line-height: 38px !important;
  text-transform: lowercase;
  font-style: italic;
}
#footer .etc {
  position: relative;
  text-align: center;
}
#footer .etc div, #footer .etc nav {
  display: block;
  position: relative;
  width: 33.3%;
  padding: 20px 0;
  float: left;
}
#footer .etc .copyright {
  width: 38%;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.6rem;
}
#footer .etc .socials {
  width: 24%;
}
#footer .etc .socials ul {
  display: inline-block;
  margin: 0 auto;
}
#footer .etc .socials ul li {
  margin: 0 16px 0 0;
  float: left;
}
#footer .etc .socials ul li:last-child {
  margin: 0 0 0 0;
}
#footer .etc .socials ul a {
  color: rgb(222, 117, 20);
}
#footer .etc .socials ul a:hover {
  color: rgb(255, 147, 47);
}
#footer .etc .nav-footer {
  width: 38%;
  position: relative;
  float: right;
  text-align: right;
  font-size: 0.6rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  z-index: 1;
}
#footer .etc .nav-footer ul {
  display: inline-block;
}
#footer .etc .nav-footer li {
  display: inline-block;
  position: relative;
  margin: 0 28px 0 0;
  float: left;
}
#footer .etc .nav-footer li:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
  content: "/";
  width: auto;
  text-indent: 0px;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  left: unset;
  right: -16px;
}
#footer .etc .nav-footer li:last-child {
  margin: 0 0 0 0;
}
#footer .etc .nav-footer li:last-child:after {
  display: none;
}
#footer .etc .nav-footer li a {
  display: inline-block;
  color: rgb(255, 255, 255);
}
#footer .etc .nav-footer li a:hover {
  color: rgb(222, 117, 20);
}

.home .page-content {
  position: relative;
  min-height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 0 0;
  overflow: hidden;
  transform: translateX(0px);
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
}
.home .page-content.showMenu {
  border-radius: 0 40px 0 0;
  transform: translateX(-360px);
}
.home .page-content .section-title {
  display: block;
  width: 100%;
  padding: 16px 0;
  background-color: rgb(99, 92, 80);
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 0.6rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  word-spacing: 0.1rem;
  color: rgb(255, 255, 255);
}
.home .page-content .banner .sqs-gallery-container {
  width: 100%;
  height: 60vw;
  position: relative;
  overflow: hidden;
}
.home .page-content .banner .sqs-gallery-container .sqs-gallery {
  position: absolute;
  width: 100%;
  top: -46vw;
  left: 0px;
  background-color: rgb(33, 33, 33);
}
.home .page-content .banner .sqs-gallery-container .sqs-gallery .slide {
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  -ms-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
}
.home .page-content .banner .sqs-gallery-container .sqs-gallery .slide:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.1) 70%);
  opacity: 0.8;
}
.home .page-content .banner .sqs-gallery-container .sqs-gallery .slide .meta {
  max-width: 60vw !important;
  margin-left: -30vw !important;
  background: none;
  z-index: 10;
}
.home .page-content .banner .sqs-gallery-container .sqs-gallery .slide .meta .meta-title {
  font-family: "Crimson Text", Georgia, serif;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-size: 1.3rem;
  line-height: 2.34rem;
}
.home .page-content .collections {
  background-color: rgb(99, 92, 80);
}
.home .page-content .collections h3.section-title {
  background-color: rgb(99, 92, 80);
}
.home .page-content .collections .gallery-block {
  padding-bottom: 0px;
  position: relative;
}
.home .page-content .collections .gallery-block .slide {
  position: relative;
}
.home .page-content .collections .gallery-block .slide .margin-wrapper {
  position: relative;
  background-color: rgba(65, 64, 66, 0.35);
}
.home .page-content .collections .gallery-block .slide .margin-wrapper a {
  display: block;
  position: relative;
  opacity: 0;
  -webkit-animation: show 0.5s 1s ease 1;
  -moz-animation: show 0.5s 1s ease 1;
  animation: show 0.5s 1s ease 1;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.home .page-content .collections .gallery-block .slide .margin-wrapper a:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
  opacity: 0.7;
}
.home .page-content .collections .gallery-block .slide .margin-wrapper a img {
  display: block;
  -webkit-filter: sepia(0.8) grayscale(0.7);
  filter: sepia(0.8) grayscale(0.7);
  opacity: 0.9 !important;
  transform: scale(1);
  -webkit-transition: all 0.7s 0s ease;
  -moz-transition: all 0.7s 0s ease;
  -o-transition: all 0.7s 0s ease;
  -ms-transition: all 0.7s 0s ease;
  transition: all 0.7s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
}
.home .page-content .collections .gallery-block .slide .margin-wrapper a:hover {
  cursor: none !important;
}
.home .page-content .collections .gallery-block .slide .margin-wrapper a:hover:before {
  opacity: 0.9;
}
.home .page-content .collections .gallery-block .slide .margin-wrapper a:hover img {
  -webkit-filter: sepia(0) grayscale(0);
  filter: sepia(0) grayscale(0);
  transform: scale(1.2);
  opacity: 1 !important;
}
.home .page-content .collections .gallery-block .slide .margin-wrapper .image-slide-title {
  position: absolute;
  top: 50%;
  transform: translateY(-2.2rem);
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  -webkit-animation: show 0.5s 1s ease 1;
  -moz-animation: show 0.5s 1s ease 1;
  animation: show 0.5s 1s ease 1;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  color: rgb(255, 255, 255);
  font-family: "Crimson Text", Georgia, serif;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-size: 1.3rem;
  line-height: 2.6rem;
  line-height: 2.2rem;
}
.home .page-content .collections .image-block {
  padding: 0 !important;
}
.home .page-content .collections .image-block .sqs-block-image-figure {
  position: relative;
  height: 50vw;
  overflow: hidden;
}
.home .page-content .collections .image-block .sqs-block-image-figure a {
  display: block;
  position: relative;
  transform: translateY(-4vw);
  background-color: rgb(209, 202, 186);
  cursor: none !important;
}
.home .page-content .collections .image-block .sqs-block-image-figure a:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
  opacity: 0.7;
}
.home .page-content .collections .image-block .sqs-block-image-figure a img {
  display: block;
  -webkit-filter: sepia(0.8) grayscale(0.7);
  filter: sepia(0.8) grayscale(0.7);
  opacity: 0.9 !important;
  transform: scale(1);
  -webkit-transition: all 0.7s 0s ease;
  -moz-transition: all 0.7s 0s ease;
  -o-transition: all 0.7s 0s ease;
  -ms-transition: all 0.7s 0s ease;
  transition: all 0.7s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
}
.home .page-content .collections .image-block .sqs-block-image-figure a:hover {
  cursor: pointer;
}
.home .page-content .collections .image-block .sqs-block-image-figure a:hover:before {
  opacity: 0.9;
}
.home .page-content .collections .image-block .sqs-block-image-figure a:hover img {
  -webkit-filter: sepia(0) grayscale(0);
  filter: sepia(0) grayscale(0);
  transform: scale(1.1);
  opacity: 1 !important;
}
.home .page-content .collections .image-block .image-caption-wrapper {
  display: block;
  width: 100%;
  height: 50vw;
  padding: 0 !important;
  position: absolute;
  top: 0px;
  bottom: 0px;
  pointer-events: none;
}
.home .page-content .collections .image-block .image-caption-wrapper .image-caption {
  display: block;
  width: 100%;
  position: absolute;
  top: ~"calc(50% - 1rem)";
  left: 0px;
}
.home .page-content .collections .image-block .image-caption-wrapper .image-caption p {
  display: inline-block;
  padding: 16px 20px;
  background: rgb(33, 33, 33);
  border-radius: 4px;
  overflow: hidden;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 0.7rem;
  line-height: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  word-spacing: 0.1rem;
  color: rgb(255, 255, 255);
}
.home .page-content .collections .image-block:hover .image-caption-wrapper .image-caption p {
  color: rgb(255, 255, 255);
}
.home .page-content .featured {
  margin-bottom: 60px;
}
.home .page-content .featured h3.section-title {
  margin-bottom: 40px;
  background-color: rgb(137, 146, 151);
}
.home .page-content .featured .gallery-block {
  display: block;
  margin: 0 auto 40px;
  width: 80%;
}
.home .page-content .featured .gallery-block .sqs-gallery-container {
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}
.home .page-content .featured .gallery-block .sqs-gallery-thumbnails {
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}
.home .page-content .featured h1 {
  margin: 0 auto;
  max-width: 40vw;
  font-size: 1.2rem;
  line-height: 1.68rem;
  letter-spacing: 0.06rem;
  word-spacing: 0.06rem;
}
.home .page-content .posts {
  overflow: hidden;
}
.home .page-content .posts header {
  display: none;
}
.home .page-content .posts .summary-block-wrapper {
  background: rgb(33, 33, 33);
}
.home .page-content .posts .summary-block-wrapper .summary-item {
  position: relative;
}
.home .page-content .posts .summary-block-wrapper .summary-item .summary-thumbnail-container {
  margin: 0 !important;
  opacity: 0;
  -webkit-animation: show 0.2s 0.5s ease 1;
  -moz-animation: show 0.2s 0.5s ease 1;
  animation: show 0.2s 0.5s ease 1;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.home .page-content .posts .summary-block-wrapper .summary-item .summary-thumbnail-container:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
  opacity: 0.7;
}
.home .page-content .posts .summary-block-wrapper .summary-item .summary-thumbnail-container .summary-thumbnail img {
  top: -4vw !important;
}
.home .page-content .posts .summary-block-wrapper .summary-item .summary-content {
  display: block;
  width: 38vw;
  position: absolute;
  top: 10vw;
  left: 10vw;
  z-index: 10;
}
.home .page-content .posts .summary-block-wrapper .summary-item .summary-content .summary-title {
  margin-bottom: 0.8rem;
}
.home .page-content .posts .summary-block-wrapper .summary-item .summary-content .summary-title a {
  font-family: "Crimson Text", Georgia, serif;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: rgb(255, 255, 255);
}
.home .page-content .posts .summary-block-wrapper .summary-item .summary-content .summary-excerpt p {
  margin-bottom: 1.6rem;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  line-height: 1.44rem;
  font-weight: 300;
  letter-spacing: 0.01rem;
  color: rgb(209, 202, 186);
}
.home .page-content .posts .summary-block-wrapper .summary-item .summary-content .summary-excerpt p a {
  display: inline-block;
  position: relative;
  font-family: "Crimson Text", Georgia, serif;
  font-size: 1.4rem;
  line-height: 2.8rem;
  line-height: 38px !important;
  text-transform: lowercase;
  font-style: italic;
  color: rgb(222, 117, 20);
  text-indent: 2px;
}
.home .page-content .posts .summary-block-wrapper .summary-item .summary-content .summary-excerpt p a:before, .home .page-content .posts .summary-block-wrapper .summary-item .summary-content .summary-excerpt p a:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
  width: 34px;
  height: 13px;
  top: ~"calc(50% - 5px)";
  bottom: unset;
  left: unset;
  right: -40px;
  background-image: url("../assets/svgs/button-arrow-rust.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.home .page-content .posts .summary-block-wrapper .summary-item .summary-content .summary-excerpt p a:after {
  background-image: url("../assets/svgs/button-arrow-light-rust.svg");
  opacity: 0;
}
.home .page-content .posts .summary-block-wrapper .summary-item .summary-content .summary-excerpt p a:hover {
  color: rgb(255, 147, 47);
}
.home .page-content .posts .summary-block-wrapper .summary-item .summary-content .summary-excerpt p a:hover:before, .home .page-content .posts .summary-block-wrapper .summary-item .summary-content .summary-excerpt p a:hover:after {
  right: -46px;
}
.home .page-content .posts .summary-block-wrapper .summary-item .summary-content .summary-excerpt p a:hover:after {
  opacity: 1;
}

.default .page-content {
  min-height: 400px;
}

.shop .content-header {
  position: relative;
  height: 340px;
  padding: 0 0 60px 0;
  background-color: rgb(99, 92, 80);
  background-repeat: none;
  background-position: center;
  background-size: 110%;
  opacity: 0;
  overflow: hidden;
  transform: translateX(0px);
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
  -webkit-animation: show 0.3s 0.3s ease 1;
  -moz-animation: show 0.3s 0.3s ease 1;
  animation: show 0.3s 0.3s ease 1;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}
.shop .content-header.showMenu {
  border-radius: 0 40px 0 0;
  transform: translateX(-360px);
}
.shop .content-header:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.1) 70%);
  opacity: 0.8;
}
.shop .content-header .page-title {
  display: block;
  color: rgb(255, 255, 255);
  width: 100%;
  position: absolute;
  top: unset;
  bottom: 80px;
}
.shop .content-header .nav-shop {
  display: block;
  width: 100%;
  padding: 16px 60px;
  position: absolute;
  bottom: 0px;
  background-color: rgb(99, 92, 80);
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 0.6rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  word-spacing: 0.1rem;
  color: rgb(255, 255, 255);
  z-index: 10;
}
.shop .content-header .nav-shop .breadcrumbs li {
  display: inline-block;
  position: relative;
  padding-right: 36px;
  float: left;
  color: rgb(255, 255, 255);
}
.shop .content-header .nav-shop .breadcrumbs li:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
  content: "/";
  width: 12px;
  left: unset;
  right: 12px;
  opacity: 0.4;
}
.shop .content-header .nav-shop .breadcrumbs li:last-child:after {
  display: none;
}
.shop .content-header .nav-shop .breadcrumbs li a {
  display: inline-block;
  color: rgb(255, 255, 255);
}
.shop .content-header .nav-shop .breadcrumbs li:hover a {
  color: rgb(255, 147, 47);
}
.shop .content-header .nav-shop #shop-search {
  position: absolute;
  top: 4px;
  right: 60px;
  display: none;
  visibility: hidden;
}
.shop .page-content {
  position: relative;
  background: rgb(255, 255, 255);
  overflow: hidden;
  transform: translateX(0px);
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
}
.shop .page-content.showMenu {
  transform: translateX(-360px);
}
.shop .page-content #productNav, .shop .page-content .product-quantity-input {
  display: none !important;
}
.shop .page-content #productGallery .slide {
  position: relative;
}
.shop .page-content #productGallery .slide img {
  position: absolute;
  left: 0px !important;
}
.shop .page-content #productDetails {
  width: ~"calc(48.5% - 120px)";
  padding: 60px;
  text-align: left;
}
.shop .page-content #productDetails .product-title {
  text-indent: -2px;
}
.shop .page-content #productDetails .product-price {
  margin: 0 0 1rem;
  font-family: "Crimson Text", Georgia, serif;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-size: 1.2rem;
  line-height: 2.4rem;
}
.shop .page-content #productDetails p {
  margin-bottom: 1.6rem;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  line-height: 1.44rem;
  font-weight: 300;
  letter-spacing: 0.01rem;
}
.shop .page-content #productDetails .sqs-add-to-cart-button-wrapper {
  background: none;
  margin: 0;
  padding: 20px 0 0;
}
.shop .page-content #productDetails .sqs-add-to-cart-button-wrapper .sqs-add-to-cart-button {
  position: relative;
  opacity: 1 !important;
  padding: 4px 64px 5px 24px !important;
  background-color: rgb(222, 117, 20);
  border-radius: 4px;
  overflow: hidden;
}
.shop .page-content #productDetails .sqs-add-to-cart-button-wrapper .sqs-add-to-cart-button:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.3s 0s ease;
  -moz-transition: all 0.3s 0s ease;
  -o-transition: all 0.3s 0s ease;
  -ms-transition: all 0.3s 0s ease;
  transition: all 0.3s 0s ease !important;
  backface-visibility: hidden !important;
  perspective: 1000 !important;
  width: 34px;
  height: 13px;
  top: ~"calc(50% - 6.5px)";
  bottom: unset;
  left: unset;
  right: 22px;
  background: url("../assets/svgs/button-arrow.svg") no-repeat;
  background-position: center;
  background-size: 100%;
}
.shop .page-content #productDetails .sqs-add-to-cart-button-wrapper .sqs-add-to-cart-button:hover {
  background-color: rgb(255, 147, 47);
}
.shop .page-content #productDetails .sqs-add-to-cart-button-wrapper .sqs-add-to-cart-button:hover:after {
  right: 18px;
}
.shop .page-content #productDetails .sqs-add-to-cart-button-wrapper .sqs-add-to-cart-button .sqs-add-to-cart-button-inner {
  font-family: "Crimson Text", Georgia, serif;
  font-size: 1.1rem;
  line-height: 2.2rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 38px !important;
  text-transform: lowercase;
  font-style: italic;
}
.shop .page-content #product-content {
  padding: 80px 0;
  text-align: left;
}
.shop .page-content #product-content .gallery-block {
  display: block;
  margin: 0 auto 20px;
  width: 85%;
}
.shop .page-content #product-content .gallery-block .sqs-gallery-container {
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}
.shop .page-content #product-content .gallery-block .sqs-gallery-thumbnails {
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}
.shop .page-content #product-content .html-block {
  display: block;
  margin: 0 auto 40px;
  width: 80%;
  max-width: 760px;
}
.shop .page-content #product-content h1 {
  margin: 1em 0 0.5em;
  font-size: 1.1em;
  line-height: 2.2em;
  font-weight: 200;
  letter-spacing: 0.05rem;
}
.shop .page-content #product-content p {
  display: inline-block;
  margin: 0 0 1em 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  line-height: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.01rem;
}
.shop .page-content .section-title {
  display: block;
  width: 100%;
  padding: 16px 0;
  background-color: rgb(99, 92, 80);
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 0.6rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
  word-spacing: 0.1rem;
  color: rgb(255, 255, 255);
}
.shop .page-content .section-title.collection {
  background-color: rgba(137, 146, 151, 0.4);
  color: rgb(65, 64, 66);
  opacity: 0.7;
}

.grecaptcha-badge {
  display: none !important;
}

@media screen and (max-width: 900px) {
  .sqs-col-1, .sqs-col-2, .sqs-col-3, .sqs-col-4, .sqs-col-5, .sqs-col-6, .sqs-col-7, .sqs-col-8, .sqs-col-9, .sqs-col-10, .sqs-col-11, .sqs-col-12 {
    width: 100% !important;
  }
}
